<div class="sidebar">
    <ul>
      <li><a routerLink="/contacts" routerLinkActive="active">Contacts</a></li>
      <li>
        <a routerLink="/messages" routerLinkActive="active">Messages</a>
        <ul>
          <li><a routerLink="/messages/sent" routerLinkActive="active">Sent Messages</a></li>
          <li><a routerLink="/messages/received" routerLinkActive="active">Received Messages</a></li>
          <li><a routerLink="/messages/favorites" routerLinkActive="active">Favorites</a></li>
        </ul>
      </li>
      <li><a routerLink="/trash" routerLinkActive="active">Trash</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
    </ul>
  </div>
  